body{
    font-family:Arial;
}
h1{
    font-size:30px;
    font-style:italic;
    font-weight:bold;
}
p{
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2px;
    line-height:30px;
}